<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="Environment" value="DATABASE"/>
		<add key="DbProviderType" value="SP"/>
		<add key="ConnectionString" value="Data Source=INTERN-TCMINH1; Initial Catalog=DC8Training.Database;Integrated Security=True"/>
		<add key="ConnectionString2" value="Data Source = TNGCNGMINHA7C2; Initial Catalog = TestDatabase; Integrated Security = True"/>

	</appSettings>
</configuration>

